
body {
    text-indent: 100px;
    line-height: 1.7;
}
span {
    text-decoration: line-through 
}
.link {
    text-shadow: 2px 2px 4px red;
}
.post-title {
    text-align: center;
}
.post-text p:first-child {
    text-align: right;
}
.post-text p:last-child {
    text-align: justify;
}
body {
    font-family: "Pochaevsk", serif;
    font-weight: 400;
    font-style: normal;
}